{% load static %}
<html>

<head>
    <title>Mushroom Gravy Recipe</title>
    <link rel="stylesheet" href="{% static 'stylesheets/food.css' %}"/>
</head>

<body>
    <header>
        <section>
            <h2>Mushroom Gravy Recipe</h2>
            <p>A spin on the standard <a href="https://en.wikipedia.org/wiki/Mushroom_gravy">Mushroom Pizza </a>.</p>
              <p>Mushroom Gravy is a quick finger lickingly good and rich gravy made with mushrooms.</p>
            <p>Adding cashew powder and malai gives the gravy thickness and nice restaurant flavour so don't skip it.
I used homemade kashmiri chilli powder.Add 1/2 tsp extra if you like spicy gravy.</p>
        </section>
    </header>
      <div id="Timing">
            <h3>Ingredients</h3>
             <p>Preparation Time:15 mins</p>
             <p>Cooking Time:30 mins</p>
            <p>TOTAL TIME :45 mins</p>
             <p> Servings 3 Person</p> </div> 
             <img src="{% static 'images/grav.jpg' %}" alt="cooking" height="500px" width="500px"/>
 
       <div id="items">
             <div id="ingredients">
    <center><h3>Ingredients</h3></center>          
            <ul>
                <li>1.5 cups mushrooms sliced</li><br>
                <li>1 tsp ginger garlic paste</li><br>
                <li>1 big onion finely chopped</li><br>
                <li>2 medium sized tomatoes pureed</li><br>
                <li>1/4 tsp turmeric powder</li><br>
                <li>1 tsp kashmiri red chilli powder</li><br>
                <li>1/2 tsp coriander powder</li><br>
                <li>1 tsp garam masala powder</li><br>
                 <li>1 tbsp cashew powder just powder it</li><br>
                 <li>1 tbsp malai from milk</li><br>
                 <li>1 tsp kasoori methi</li><br>
                 <li>1 tbsp coriander leaves finely chopped</li><br>
                 <li>1 cup water</li><br>
                <strong>To temper:</strong>
                    <li>1.5 tbsp oil</li><br>
                    <li>one 1/4 inch cinnamon</li><br>
                    <li>1 no cardamom</li><br>
                    <li> small clove></li><br>
                    <li>1/2 tsp cumin seeds</li><br>    </ul></div>        
            </ul>
            <div id="preparation">
                <center><h3>Preparation</h3></center> 
            <h3>Preparation</h3>
            <ul>
                <li>Heat oil in a pan - add items listed under 'to temper' let it splutter then add onion saute until transparent then add ginger garlic paste and required salt.</li><br>
	            <li>Saute until golden then add turmeric powder, red chilli powder and coriander powder. Give a quick saute.     </li><br>
	            <li>Then add tomato puree cook until raw smell leaves and the mixture is thick and dry. Now add mushrooms.  </li><br>
	            <li>Give a quick saute then add water mix well. Cook covered for 2 mins.	</li><br>
	             <li>Now add cashewnut powder, malai and garam masala powder. Cook until oil floats on top. Finally garnish with kasoori methi and coriander leaves. Relish Mushroom Gravy!</li><br>               
	</ul></div></div>   
        
    
</body>
</html>