{% load static %}
<html>
<head>
<title>Mushroom Noodles</title>
<link rel="stylesheet" href="{% static 'stylesheets/food.css' %}"/>
</head>
<body>
    <header>
        <section>
            <h2>Mushroom Noodles</h2>
            <p>A spin on the standard <a href="https://en.wikipedia.org/wiki/Noodle">Mushroom Burger </a>.</p>
          These mushroom noodles are super easy to make! It requires minimal chopping and is ready in minutes.
 With button mushrooms, spring onions, soy sauce, spice and noodles, you’ll get a delicious, Indo-Chinese noodles recipe that will not only impress your family but make them fight for a third serving!.
<strong>AY mushroom will give good taste for this recipie because it is good,fresh and healthy to eat</strong> 
        </section>
    </header>
    <article>
      <div id="Timing">
  <h3>TIMING</h3>
  <p>Preparation Time:5-10 minutes</p>
  <p>Cooking Time:15-20 minutes</p>
  <p>Total Time:25 minutes</p>
  <p>Serve: 1-2 Person </p></div>
  <img src="{% static 'images/noodles.jpg' %}" alt="" ></div>
            <div id="items">
 <div id="ingredients">
    <center><h3>Ingredients</h3></center>
<ul>
<li>200 gms Noodles</li><br>
<li>300-400 gram Mushrooms</li><br>
<li>1/2 tbsp Chopped Garlic</li><br>
<li>1/2 tsp Chopped ginger</li><br>
<li>1 tsp Chopped green chilies</li><br>
<li>1/2 tsp Black pepper or white pepper</li><br>
<li>1/2 cup Chopped spring onions</li><br>
<li>1 to 2 tsp Finely chopped celery (optional)</li><br>
<li>2 to 2.5 tbsp Oil</li><br>
<li>1 tbsp Soya Sauce</li><br>
<li>1 tsp Rice vinegar or regular vinegar</li><br>
<li>Spring onion greens for garnish</li><br>
<li>salt as required</li><br>
 </ul></div>
 <div id="preparation">
    <center><h3>Preparation</h3></center> 
               <ul>
                <li>Start by boiling noodles al dante, and keep them aside.</li><br>
<li>Heat oil in a wok or kadai or a pan. On a low to medium heat, first add chopped garlic, chopped ginger and chopped green chilies. For a spicy hot tasting noodles, you can increase the quantity of green chilies.</li><br>
<li>Saute for a few seconds, then add chopped spring onions. Add both the white and green part. Reserve 2 tablespoon of the greens for garnish.</li><br>
<li>Stir and saute the spring onions till they turn translucent. Then add the sliced mushrooms.</li><br>
<li>Stir the mushrooms very well and saute them on a medium to high heat stirring occasionally. The mushrooms will leave water while cooking.</li><br>
<li>Continue to saute till all the water dries up and the mushrooms become light golden from the edges.Then add ground black pepper.</li><br>
<li>Add soy sauce and stir very well. Add the noodles. Add salt as required.</li><br>
<li>Stir and toss the noodles very well. Add rice vinegar or regular white vinegar. Stir and mix. Switch off the heat and lastly add the chopped spring onions greens.</li><br>
<li>Give a final stir and serve mushroom noodles plain or with dry veg manchurian or veg manchurian gravy or veg balls in hot garlic sauce.</li><br>
</ul></div></div>    
</body></html>


