{% load static %}
<html>

<head>
    <title>Mushroom Pizza with Fresh Herbs</title>
    <link rel="stylesheet" href="{% static 'stylesheets/food.css' %}"/>
</head>

<body>
    <header>
        <section>
            <h2>Mushroom Pizza with Fresh Herbs</h2>
            <p>A spin on the standard <a href="https://en.wikipedia.org/wiki/Pizza">Mushroom Pizza </a>.</p>
             
            <p>This mushroom pizza is a white pizza that’s covered with mozzarella cheese, goat cheese, and fresh herbs. It’s perfection!
            The recipe below is designed to act as a guide, and not something to be followed prescriptively. Play with your
                food! Adjust amounts based on your tastes.</p>
        </section>
    </header>
    <article>
        <div id="t">
            <div id="Timing">
                <h3>TIMING</h3>
                <p>Preparation Time: 20 minutes</p>
                <p>Cooking Time: 25 minutes</p>
                 <p>TOTAL TIME:45 minutes</p>
                 <p>Serve:2 Person </p></div>
                  <img src="{% static 'images/piz.jpg' %}" alt="" ></div>
            <div id="items">
            <div id="ingredients">
                <center><h3>Ingredients</h3></center>
            <ul>
                <li>1 ball Best Pizza Dough (or Food Processor Dough or Thin Crust Dough)<br>
                <li>1 ½ <em>cups</em>  sliced mixed mushrooms (such as baby bella aka cremini, button, shiitake, and oyster)</li><br>
                <li>1 tablespoon each finely chopped fresh thyme and oregano, plus more sprigs for topping</li><br>
                <li>¼ teaspoon plus 1 pinch kosher salt, divided</li><br>
                <li>1 tablespoon olive oil, plus more for drizzling</li><br>
                <li>2 healthy pinches of Kosher salt, or to taste</li><br>
                <li>1 tablespoon fresh lemon juice</li><br>
<li>1 to 2 ounces goat cheese, crumbled</li><br>
                <li>¾ cup shredded mozzarella cheese</li><br>
                <li>1 to 2 tablespoons finely chopped chives</li><br>
                <li>Semolina flour or cornmeal, for dusting the pizza peel</li><br>
            </ul></div>
        
             <div id="preparation">
                <center><h3>Preparation</h3></center> 
            <h3>Preparation</h3>
            <ul>
                <li>Make the pizza dough: Follow the Best Pizza Dough recipe to prepare the dough. (This takes about 15 minutes to make and 45 minutes to rest.)</li><br>
                <li>Place a pizza stone in the oven and preheat to 500°F. OR preheat your pizza oven (here’s the pizza oven we use)..</li><br>
                <li>Prepare the toppings: Clean the mushrooms and slice them. In a saute pan or skillet, heat the 1 tablespoon olive oil to medium high heat. Add the mushrooms, chopped herbs, and ¼ teaspoon kosher salt and cook for about 5 minutes, stirring occasionally. When mushrooms are tender, reduce the heat to low, add lemon juice. Remove from the heat.</li><br>
                <li>Bake the pizza: When the oven is ready, dust a pizza peel with cornmeal or semolina flour. (If you don’t have a pizza peel, you can use a rimless baking sheet or the back of a rimmed baking sheet. But a pizza peel is well worth the investment!) Stretch the dough into a circle; see How to Stretch Pizza Dough for instructions. Then gently place the dough onto the pizza peel.</li><br>
                <li>Brush a thin layer of olive oil onto the crust. Then top with the mozzarella cheese in an even layer, then the cooked mushrooms, and crumbles of goat cheese. Garnish with the chopped chives and additional thyme sprigs. Sprinkle with 1 pinch kosher salt.</li><br>
	<li>Use the pizza peel to carefully transfer the pizza onto the preheated pizza stone. Bake the pizza until the cheese and crust are nicely browned, about 5 to 7 minutes in the oven (or 1 minute in a pizza oven). Slice into pieces and serve immediately.</li><br>            
	</ul></div></div>
        
    
</body>
</html>