{% load static %}
<html>

<head>
    <title>Grilled Mushroom Sandwich Recipe With Herbs</title>
    <link rel="stylesheet" href="{% static 'stylesheets/food.css' %}"/>
</head>

<body>
    <header>
        <section>
            <h2>Grilled Mushroom Sandwich Recipe With Herbs</h2>
            <p>A spin on the standard <a href="https://en.wikipedia.org/wiki/Sandwich">Mushroom Pizza </a>.</p>
          The Grilled Mushrooms Sandwich recipe is a simple and quick recipe that can be made for a breakfast, a brunch or supper or even packed for a school lunch box. 
          The finely chopped mushrooms spiced up with green chillies, coriander leaves makes a filling and healthy weekend breakfast or snack/lunch box. 
        </section>
    </header>   
    <div id="t">
        <div id="Timing">
                <h3>Timing</h3><br>
                <p>Preparation Time: 20 Minutes</p>
            	<p>Cooking Time:  15 Minutes</p>
	            <p>Total Time: 35 Minutes</p>
	            <p>Serves: 4 Persons</p></div>
                <img src="{% static 'images/sa.jpg' %}" alt="" ></div>         
        <div id="items">
                <div id="ingredients">
                <center><h3>Ingredients</h3></center>
            <ul>
                <li>8 Whole Wheat Brown Bread</li><br>
                <li>400 grams Button mushrooms , chopped</li><br>
                <li>2 Green Chillies , finely chopped</li><br>
                <li>Salt and Pepper , to taste</li><br>
                <li>Coriander (Dhania) Leaves , small bunch, finely chopped</li><br>
                <li>Butter (Salted) , as required</li><br>
                <li>Extra Virgin Olive Oil , for cooking</li>
            </ul></div>
      
            <div id="preparation">
           <center><h3>Preparation</h3></center> 
            <ul>
                <li>To begin making the Grilled Mushroom Sandwich Recipe with Herbs, we will first cook the mushrooms well in a wok or a heavy bottomed pan.</li><br>
                <li>Heat a teaspoon of olive oil in a wok or a heavy bottomed pan on medium heat; add the chopped mushrooms and sauté until water has evaporated (mushrooms give out water while being cooked). </li><br>
                <li>Once all the water and moisture is evaporated, add the green chillies, salt and black pepper and sauté until all the ingredients come together. Turn off heat; stir in coriander leaves, mix and set aside.</li><br>
                <li> Spread the butter on the slices of bread. Add about 2 tablespoons of the mushroom mixture on one slice and cover with the other slice.</li><br>
                <li>You can now grill the Mushroom Sandwiches using a Panini Press or Sandwich Maker and serve warm.</li><br>
<li> You can alternatively use a Tawa and toast the sandwich. Place the untoasted sandwich on the Tawa on a low-medium flame and place heavy plate on top of the sandwich so that the mushroom filling stays inside. Remove the plate flip to the other side to get an evenly toasted sandwich.</li><br> 	
<li>Serve the Grilled Mushroom Sandwich Recipe with Herbs for breakfast or even pack them into lunch boxes or even take them for picnics. Serve with Carrot Pineapple Orange Juice Recipe or Homemade Eggless Vanilla Custard Recipe (Pudding). </li><br>            
	</ul></div></div>
       
  
</body>
</html>