{% load static %}
<html>
<head>
    <title>Easy Mushroom Soup</title>
    <link rel="stylesheet" href="{% static 'stylesheets/food.css' %}"/>
    </head>
</head><body>
    <section>
            <h2>Easy Mushroom Soup</h2>
            <p>A spin on the standard <a href="https://en.wikipedia.org/wiki/Cream_of_mushroom_soup">Mushroom Soup </a>.</p>
            <p>This simple, delicious recipe is made without cream or milk. A mix of butter and flour thicken chicken stock to create a velvety soup without being too heavy.
            The combination of crimini and white button mushrooms add earthy notes that work well with the rich broth.</p>
        </section>
    </header>
    <div id="t">
    <div id="Timing">
  <h3>TIMING</h3>
  <p>Preparation Time: 10 minutes</p>
  <p>Cooking Time: 15 minutes</p>
  <p>TOTAL Time: 25 minutes</p>
  <p>Serve: 3-4 Person </p></div>
  <img src="{% static 'images/s.jpg' %}" alt="" ></div>
  <div id="items">
  <div id="ingredients">
    <center><h3>Ingredients</h3></center>  
            <ul>
                <li>3 tablespoons unsalted butter</li><br>
<li>2 garlic cloves, minced</li><br>
<li>1 shallot, finely chopped</li><br>
<li>4 ounces crimini mushrooms, chopped</li><br>
<li>4 ounces white button mushrooms, chopped</li><br>
<li>2 tablespoons all-purpose flour</li><br>
<li>3 cups chicken stock</li><br>
<li>¼ teaspoon fine sea salt, or to taste</li><br>
<li>¼ teaspoon ground black pepper, or to taste</li><br>
<li>Sliced sautéed mushrooms for garnish, optional</li><br>
<li>Chopped parsley for garnish, optional</li><br>
</ul></div>
<div id="preparation">
    <center><h3>Preparation</h3></center> 
           
            <ul>
  <li>Melt 2 tablespoons of the butter in a large pot such as a Dutch oven over medium-high heat.
 Add the garlic and shallot, cook for 1 minute, until they begin to soften. <br></li>
<li>Add the mushrooms and cook for about 3 minutes, until tender and browned.<br>
 Transfer all the contents of the pot to a bowl.</li><br>
 <li>Add the remaining 1 tablespoon of butter to the pot. Once melted, sprinkle in the flour and whisk it quickly into a paste. Reduce the heat to medium.<br>
 Add the stock a little at a time, whisking out the clumps between each addition.</li><br>
<li>Increase the heat back to medium-high and allow the soup to simmer well for 3 minutes.<br>
 Add the mushrooms back to the pot and continue to cook for 2 more minutes.<br>
 The stock will thicken slightly to be somewhat creamy.</li><br>
<li>Let cook for 3 to 4 minutes, then ladle into bowls. Garnish with mushrooms and parsley, if desired.
COLLECTIONS</li><br></ul></div></div></body></html>
        
   

